* {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
    --background-color: rgb(70, 144, 255);
}

.content {
    height: 100vh;
    width: 100vw;
    background-color: gray;
}

.game-container {
    border: 2px dashed red;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GAMEBOARD STYLES */

.game-board {
    border: 1px dashed blue;
    width: 50%;
    height: 75%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    /* background-color: grey; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.cell:hover {
    box-shadow: inset 0 0 4px 4px rgb(0, 0, 0, .69);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}