* {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
    --background-color: rgb(70, 144, 255);
}

.github-div {
    display: flex;
    position: relative;
    height: 2rem;
    justify-content: center;
    align-items: center;
    padding: .1rem;
}

.github-div img {
    max-height: 100%;
}

.content {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    position: absolute;
}

.header-div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    font-weight: 500;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 400;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 400;
}
/* h1::after {
    content: 'Tic-Tac-Toe';
    position: fixed;
    left: calc(50% - 28%);
    color: red;
} */

.game-container {
    border: 2px dashed red;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-game-modal{
    display: block;
    position: fixed;
    background-color: rgb(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 30vh;
    text-align: center;
    overflow: auto;
}

.end-game-modal div {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: white;
}

/* GAMEBOARD STYLES */

.game-board {
    border: 1px dashed blue;
    width: 50%;
    height: 75%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    /* background-color: grey; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* MAKE TIC TAC TOE BOARD */

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

/* HOVER STYLES */

.x:not(.game-board),
.o:not(.game-board) {
    cursor: not-allowed;
}

.x:hover,
.o:hover {
    opacity: 100%;
}

/* HOVER DURING TURN */

.game-board.x .cell:not(.x):not(.o):hover,
.game-board.o .cell:not(.x):not(.o):hover {
    box-shadow: 0 0 4px 4px rgb(0, 0, 0, .5); 
}

.game-board.x .cell:not(.x):not(.o):hover {
    background-image: url('images/x.svg');
    background-size: 75%;
    background-position: center;
    opacity: 50%;
}

.game-board.o .cell:not(.x):not(.o):hover {
    background-image: url('images/o.svg');
    background-size: 75%;
    background-position: center;
    opacity: 50%;
}